/*
 * Copyright (C) 2015-2019 Variscite Ltd. - https://www.variscite.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/ {
	chosen {
		stdout-path = &uart1;
	};

	keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys2>;

		keya {
			label = "Key-A";
			gpios = <&gpio4 24 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_A>;
			wakeup-source;
		};

		keyb {
			label = "Key-B";
			gpios = <&gpio4 17 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_B>;
			wakeup-source;
		};
		
		keyc {
			label = "Key-C";
			gpios = <&gpio4 18 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_C>;
			wakeup-source;
		};
		
		keyd {
			label = "Key-D";
			gpios = <&gpio3 3 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_D>;
			wakeup-source;
		};					
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_leds>, <&pinctrl_gpio_leds2>;

		d16_led {
			gpios = <&gpio4 20 GPIO_ACTIVE_HIGH>;
			label = "debug-led-B";			
			linux,default-trigger = "heartbeat";
		};
		
		debug_ledA {
			gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
			label = "debug-led-A";
		};		
		
		keyboard_ledA {
			gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
			label = "kdb-led-A";
		};
		
		keyboard_ledB {
			gpios = <&gpio5 5 GPIO_ACTIVE_HIGH>;
			label = "kdb-led-B";
		};
		
		keyboard_ledC {
			gpios = <&gpio5 7 GPIO_ACTIVE_HIGH>;
			label = "kdb-led-C";
		};
		
		keyboard_ledD {
			gpios = <&gpio5 8 GPIO_ACTIVE_HIGH>;
			label = "kdb-led-D";
		};
		
		keyboard_ledE {
			gpios = <&gpio5 9 GPIO_ACTIVE_HIGH>;
			label = "kdb-led-E";
		};						
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio_rele>, <&pinctrl_lora>, <&pinctrl_gpio_modem>, <&pinctrl_gpio_other>;
	
	pinctrl_gpio_other: gpioothergrp {
		fsl,pins = <
			MX6UL_PAD_UART3_RTS_B__GPIO1_IO27	0x17059 /* tamper sw */
			MX6UL_PAD_LCD_DATA00__GPIO3_IO05	0x10030 /* enable ricarica */
			MX6UL_PAD_UART1_CTS_B__GPIO1_IO18   0x1b0b0	/* production test mode */
			MX6UL_PAD_UART1_RTS_B__GPIO1_IO19   0x1b0b0 /* ready signal */
			MX6UL_PAD_CSI_DATA01__GPIO4_IO22    0x1b0b0 /* battery switch */
		>;	
	};	
	
	pinctrl_gpio_modem: modemgrp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO09__GPIO1_IO09	0x10030 /* enable V modem */		
			MX6UL_PAD_CSI_DATA02__GPIO4_IO23	0x10030 /* powerkey */
			MX6UL_PAD_CSI_DATA00__GPIO4_IO21	0x10030 /* reset */
		>;	
	};

	pinctrl_gpio_rele: relegrp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA20__GPIO3_IO25	0x10030 /* rele 1 HYST */
			MX6UL_PAD_LCD_DATA21__GPIO3_IO26	0x10030 /* rele 2 HYST */
			MX6UL_PAD_LCD_DATA22__GPIO3_IO27	0x10030 /* rele 3 HYST */
			MX6UL_PAD_LCD_DATA23__GPIO3_IO28	0x10030 /* rele 4 HYST */
		>;
	};
	
	pinctrl_gpio_keys2: gpiokeys2grp {
		fsl,pins = <
			MX6UL_PAD_CSI_DATA03__GPIO4_IO24	0x17059 /* pulsante A PU 47K */
			MX6UL_PAD_CSI_MCLK__GPIO4_IO17		0x17059 /* pulsante B PU 47K */
			MX6UL_PAD_CSI_PIXCLK__GPIO4_IO18	0x17059 /* pulsante C PU 47K */
			MX6UL_PAD_LCD_VSYNC__GPIO3_IO03	    0x17059 /* pulsante D PU 47K */
		>;			
	};

	pinctrl_lora: lora_gpiogrp {
		fsl,pins = <
			MX6UL_PAD_ENET2_TX_DATA1__GPIO2_IO12	0x17059 /* LORA V_MCU enable PU 47K 0=enable*/
			MX6UL_PAD_UART3_TX_DATA__GPIO1_IO24		0x17059 /* LORA wakeup */
			MX6UL_PAD_UART3_CTS_B__GPIO1_IO26		0x10030 /* LORA reset */
			MX6UL_PAD_UART3_RX_DATA__GPIO1_IO25		0x10030 /* LORA boot */
			MX6UL_PAD_LCD_ENABLE__GPIO3_IO01		0x10030 /* LORA gpio A */
			MX6UL_PAD_LCD_RESET__GPIO3_IO04			0x10030 /* LORA gpio B */
		>;
	};	
	
	pinctrl_gpio_leds: gpio_ledsgrp {
		fsl,pins = <
			MX6UL_PAD_JTAG_MOD__GPIO1_IO10		0x1b0b0 /* led DBG-A */
			MX6UL_PAD_CSI_HSYNC__GPIO4_IO20		0x1b0b0 /* led DBG-B */
		>;
	};

	/* uart lora */
	pinctrl_uart4: uart4grp {
		fsl,pins = <
			MX6UL_PAD_UART4_TX_DATA__UART4_DCE_TX	0x1b0b1
			MX6UL_PAD_UART4_RX_DATA__UART4_DCE_RX	0x1b0b1
		>;
	};
	
	/* uart ext */
	pinctrl_uart6: uart6grp {
		fsl,pins = <
			MX6UL_PAD_ENET2_RX_DATA0__UART6_DCE_TX  0x1b0b1
			MX6UL_PAD_ENET2_RX_DATA1__UART6_DCE_RX  0x1b0b1
		>;
	};	

	pinctrl_pwm2: pwm2grp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA01__PWM2_OUT		0x110b0
		>;
	};

	/* uart debug */
	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6UL_PAD_UART1_TX_DATA__UART1_DCE_TX   0x1b0b1
			MX6UL_PAD_UART1_RX_DATA__UART1_DCE_RX   0x1b0b1
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO08__WDOG1_WDOG_B	0x78b0
		>;
	};

	pinctrl_i2c4: i2c4grp {
		fsl,pins = <
			MX6UL_PAD_ENET2_TX_DATA0__I2C4_SDA 0x4001b8b0
			MX6UL_PAD_ENET2_RX_EN__I2C4_SCL 0x4001b8b0
		>;
	};
};

&pwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm2>;
	status = "okay";
};

&snvs_rtc {
	status = "disabled";
};

/* Console UART */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

/* ttymxc3 UART lora */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

/* ttymxc5 UART ext */
&uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	status = "okay";
};

&usbotg1 {
	dr_mode = "host";
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
};

&i2c4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";
};
